@using Microsoft.AspNet.Identity
@model MovieApi.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
@section Styles{
    
    <link href="~/Content/profile.css" rel="stylesheet" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
}
@section Scripts{
<script src="http://malsup.github.com/jquery.form.js"></script> 
    <script>
        function chooseFile() {
            $("#files").click();
        }
</script>
}


<div class="container">
    <div class="fb-profile">
        <img align="left" class="fb-image-lg" src="http://otdt.net/wp-content/uploads/300_rise_of_an_empire_2014-logo-850x280.jpg" alt="Profile image example" />
        <img align="left" class="fb-image-profile thumbnail" id="img" src="~/Content/Images/@Model.Image" alt="Profile image example" />

        @using (Html.BeginForm("ChangePhoto", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div style="height: 0px; overflow: hidden">
                <input type="file" id="files" name="file" onchange="this.form.submit()" />
            </div>
            <div>
                <input type="button" OnClick="chooseFile();" class="btn btn-primary" value="Select Image" />
            </div>
        }

        <div class="fb-profile-text">
            <h1>@User.Identity.GetUserName()</h1>
        </div>
    </div>
    

</div> 