
@{
    ViewBag.Title = "MovieDetails";
}
@section Scripts{
    
<script src="~/Scripts/CustomScripts/detailsMovie.js"></script>
}
<style>
    .jumbotron {
        opacity: inherit;
    }
</style>

<main>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <h1 id="NameMovie" class="display-3"></h1>
            <br />

            <iframe id="movieYoutube" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>

            <br />
            <br />

            <div class="jumbotron">
                <p><strong>Description</strong></p>
                <p id="description"></p>

                <p id="yearMovie"><strong>Year</strong>
                </p>
                <p id="Genre">
                    <strong>Genre</strong>
                </p>
                <p id="RunTime"><strong>Duration</strong>
                </p>
                <p id="ReleaseDate"><strong>Release Date</strong>
                
                <p id="OriginalLang"><strong>Original Lenguaje</strong>
                </p>
                <p id="Popularity"><strong>Popularity</strong>
                </p>

            </div>
            
            
            <br />
            <br />

        </div>
    </div>
</div>
</main>
