
@{
    ViewBag.Title = "MovieDetails";
}
@section Scripts{
    
<script src="~/Scripts/CustomScripts/detailsMovie.js"></script>
}


<main>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">

            <h1 id="NameMovie" class="display-3"></h1>
            <br />

            <iframe id="movieYoutube" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>

            <br />
            <br />

            <p id="description">
                
            </p>

            <p id="yearMovie"><strong>Year</strong> </p>
            <p id="RunTime"><strong>Duration</strong> </p>
            <p id="ReleaseDate"><strong>Release Date</strong> </p>
            <p><strong>WebSite</strong><a id="HomePage"></a> </p>
            <p id="OriginalLang"><strong>Original Lenguaje</strong> </p>
            <p id="Popularity"><strong>Popularity</strong> </p>

            
            
            <br />
            <br />

        </div>
    </div>
</div>
</main>
